html {
  background: #d1b8dd;
  font-family: 'Teko', sans-serif;
  font-family: 'Nunito Sans', sans-serif;

  
}

img {
  border-radius: 8px;
  display: block;
  margin: 10px 25px;
  max-width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
nav {
  position: absolute;
}
